.c12
  h2 Consejos para dormir mejor
.c10.o1
  slick
    div Haz ejercicio: de preferencia por la mañana y cuando salga el sol.
    div La cama es sólo para dormir y para el sexo: otras actividades te desvelarán.
    div Mantén una rutina: acuéstate y despiértate a la misma hora.
    div Deja de fumar: la nicotina evita que nos durmamos con facilidad.
    div Crea tu espacio de descanso: oscuro, fresco, ordenado y con pocos objetos.
    div Evita las bebidas con cafeína: aumentan la necesidad de despertarse para orinar.
    div Deja el alcohol: contribuye a que ronques.
    div Evita las comidas abundantes: cena ligero 1h y 30mins. antes de acostarte.
    div Huye de los somníferos: crean adicción  y no es natural.
    div Limita las siestas: no más de 30 minutos y nunca después de las 3 de la tarde.
    div Relájate 30 minutos antes de ir a dormir.
