.c4.o1.mt2.nom
  img(src="app/img/bed1.jpg", alt="Dormir Bien. Nosotros.").fluid
.c6.o1.mt2.cm10
  h2 Nosotros
  p.light Debido a la naturaleza multidisciplinaria de la patología, se requiere de la cooperación y realización entre las diversas especialidades médicas (Otorrinolaringología, Neumología, Neurología, Psiquiatría, Odontología, Psicología, Geriatría, Medicina Interna).
  p En nuestra clínica brindamos especial atención al desarrollo de la Medicina del sueño, rama de la medicina que estudia la fisiología normal durante el dormir y las alteraciones que pueden presentarse en relación con el sueño. Contamos con la mayor experiencia en el manejo integral de los trastornos del sueño como: la apnea del sueño, ronquido, insomnio y el resto de trastornos del dormir.
  p.light Contamos con amplia experiencia en la realización y el análisis e interpretación de estudios de sueño: polisomnografía, poligrafía, test de latencias múltiples de sueño, test de mantenimiento de vigilia, entre otros y además la mayor experiencia en el diagnóstico y tratamiento de la apnea del sueño.


.c7.ct12.ot0.cm10.om1.mt2
  h2 Dra. Liliana Padilla Islas
  p: strong
    i.fa.fa-angle-right
    small Cédula Profesional: 7057757
  p: strong
    i.fa.fa-angle-right
    small Cédula de Especialidad en Otorrinolaringología y Cirugía de cabeza y cuello: 09181490
  p: a(href="mailto:dra_padilla@dormirbien.com") dra_padilla@dormirbien.com
  p La Dra. Liliana Padilla Islas es miembro activo de la Academia Americana de Sueño y de la Sociedad Mexicana de Otorrinolaringología de Cabeza y Cuello. 
  p.light Egresada de Médico Cirujano de la Universidad Autónoma de Guadalajara y de Otorrinolaringología y Cirugía de Cabeza y Cuello de la Universidad Nacional Autónoma de México. Cursó un posgrado de Alta especialidad  en Medicina Integral del Sueño en la Clínica de Trastornos del Sueño de la Facultad de Medicina de la Universidad Nacional Autónoma de México.
  p Cuenta con amplia experiencia en Trastornos del Sueño y conocimiento de el diagnóstico así como de tratamiento médico y quirúrgico de los mismos.
.c4.o1.ct12.ot0.cm10.om1.mt2.tac
  .dra: img(src="app/img/dra_liliana_padilla_islas.jpg", alt="Dra. Liliana Padilla Islas")
