.c4.o1.mt2
  img(src="app/img/bed1.jpg", alt="Dormir Bien. Nosotros.").fluid
.c6.o1.mt2
  h2 Nosotros
  p.light Debido a la naturaleza multidisciplinaria de la patología, se requiere de la cooperación y realización entre las diversas especialidades médicas (Otorrinolaringología, Neumología, Neurología, Psiquiatría, Odontología, Psicología, Geriatría, Medicina Interna).
  p En nuestra clínica brindamos especial atención al desarrollo de la Medicina del sueño, rama de la medicina que estudia la fisiología normal durante el dormir y las alteraciones que pueden presentarse en relación con el sueño. Contamos con la mayor experiencia en el manejo integral de los trastornos del sueño como: la apnea del sueño, ronquido, insomnio y el resto de trastornos del dormir.
  p.light Contamos con amplia experiencia en la realización y el análisis e interpretación de estudios de sueño: polisomnografía, poligrafía, test de latencias múltiples de sueño, test de mantenimiento de vigilia, entre otros y además la mayor experiencia en el diagnóstico y tratamiento de la apnea del sueño.
