.container
  .c12.cm10.om1.tac: h3 Equipos de terapia respiratoria
  .c12: slick(slides-to-show="1")
    div
      .container
        .c6.tac.pname: h4 AirCurve 10 S
        .c6: ng-swipebox(photos="[{href: '/app/img/gal1.jpg', src: '/app/img/gal1.jpg', title:'AirCurve 10 S'}]").producto
      .container
        .c5.o1.g: ul
          li Equipo de presión binivel modo Espontáneo
          li Manejo automático de fugas Vsync 
          li TiControl (Ti Max / Ti Min) 
          li Forma de onda Easy-Breathe 
          li Sensibilidad de disparo y ciclado ajustables 
          li Tiempo de subida ajustable 
        .c5.g: ul
          li Algoritmo que permite detectar Apneas Centrales 
          li Almacena 365 sesiones resumidas y de cumplimiento, 30 sesiones de datos detallados y 7 se siones de datos de alta resolución
          li Humidificador integrado 
          li ClimateLineAir y módulo de oximetría opcionales
    div
      .container
        .c6.tac.pname: h4 AirCurve 10 V Auto
        .c6: ng-swipebox(photos="[{href: '/app/img/gal1.jpg', src: '/app/img/gal1.jpg', title:'AirCurve 10 V Auto'}]").producto
      .container
        .c5.o1.g: ul
          li Equipo de presión binivel modo Espontáneo
          li Manejo automático de fugas Vsync 
          li TiControl (Ti Max / Ti Min) 
          li Forma de onda Easy-Breathe 
          li Sensibilidad de disparo y ciclado ajustables 
          li Tiempo de subida ajustable 
          li Algoritmo que permite detectar Apneas Centrales 
        .c5.o1.g: ul
          li Almacena 365 sesiones resumidas y de cumplimiento, 30 sesiones de datos detallados y 7 se siones de datos de alta resolución
          li Humidificador integrado 
          li ClimateLineAir y módulo de oximetría opcionales
          li Ajuste de presión automático 
          li Ajuste cuando ocurren episodios de obstrucción
          li Variedad de tecnologías que mejoran la comodidad de la terapia
    div
      .container
        .c6.tac.pname: h4 AirSense 10 CPAP
        .c6: ng-swipebox(photos="[{href: '/app/img/gal16.jpg', src: '/app/img/gal16.jpg', title:'AirSense 10 CPAP'}]").producto
      .container
        .c5.o1.g: ul
          li Equipo de presión fija ajustable de 4 a 20 cm H2O
          li Tecnología Easy-Breathe mejorada para brindarle una sensación mas natural al respirar
          li Alivio de Presión Espiratoria (APE) graduable para mayor confort
          li Almacena datos de cumplimiento (365 noches) y fuga 
        .c5.o1.g: ul
          li Humidificador integrado 
          li Acceso remoto a la información 
          li ClimateLineAir opcional 
          li Rampa automática que detecta el inicio del sueño
    div
      .container
        .c6.tac.pname: h4 AirSense 10 Elite
        .c6: ng-swipebox(photos="[{href: '/app/img/gal16.jpg', src: '/app/img/gal16.jpg', title:'AirSense 10 Elite'}]").producto
      .container
        .c5.o1.g: ul
          li Equipo de presión fija ajustable de 4 a 20 cm H2O
          li Tecnología Easy-Breathe mejorada para brindarle una sensación mas natural al respirar
          li Alivio de Presión Espiratoria (APE) graduable para mayor confort
          li Almacena datos de cumplimiento (365 noches) y fuga 
          li Humidificador integrado 
          li Acceso remoto a la información 
        .c5.o1.g: ul
          li ClimateLineAir opcional 
          li Rampa automática que detecta el inicio del sueño
          li Almacena datos de eficacia del tratamiento (30 noches) y datos de flujo (7 noches)
          li Algoritmo que permite detectar Apneas Centrales y R espiración de Cheyne Stokes 
          li ClimateLineAir y módulo de oximetría opcionales
    div
      .container
        .c6.tac.pname: h4 AirSense 10 AutoSet
        .c6: ng-swipebox(photos="[{href: '/app/img/gal16.jpg', src: '/app/img/gal16.jpg', title:'AirSense 10 AutoSet'}]").producto
      
      .container
        .c5.o1.g: ul
          li Equipo de presión fija ajustable de 4 a 20 cm H2O
          li Tecnología Easy-Breathe mejorada para brindarle una sensación mas natural al respirar
          li Alivio de Presión Espiratoria (APE) graduable para mayor confort
          li Almacena datos de cumplimiento (365 noches) y fuga 
          li Humidificador integrado 
          li Acceso remoto a la información 
          li ClimateLineAir opcional 
        .c5.o1.g: ul
          li Rampa automática que detecta el inicio del sueño
          li Almacena datos de eficacia del tratamiento (30 noches) y datos de flujo (7 noches)
          li Algoritmo que permite detectar Apneas Centrales y R espiración de Cheyne Stokes 
          li ClimateLineAir y módulo de oximetría opcionales
          li Equipo automático de presión variable de 4 a 20 cm. H2O
          li Presión mínima y máxima ajustables
    div
      .container
        .c6.tac.pname: h4 AirSense 10 AutoSet for Her
        .c6: ng-swipebox(photos="[{href: '/app/img/gal5.jpg', src: '/app/img/gal5.jpg', title:'AirSense 10 AutoSet for Her'}]").producto
      .container
        .c5.o1.g: ul
          li Equipo de presión fija ajustable de 4 a 20 cm H2O
          li Tecnología Easy-Breathe mejorada para brindarle una sensación mas natural al respirar
          li Alivio de Presión Espiratoria (APE) graduable para mayor confort
          li Almacena datos de cumplimiento (365 noches) y fuga 
          li Humidificador integrado 
          li Acceso remoto a la información 
          li ClimateLineAir opcional 
        .c5.o1.g: ul
          li Rampa automática que detecta el inicio del sueño
          li Almacena datos de eficacia del tratamiento (30 noches) y datos de flujo (7 noches)
          li Algoritmo que permite detectar Apneas Centrales y R espiración de Cheyne Stokes 
          li ClimateLineAir y módulo de oximetría opcionales
          li Equipo automático de presión variable de 4 a 20 cm. H2O
          li Presión mínima y máxima ajustables
          li Equipo automático que integra un algoritmo especialmente diseñado para la mujer con SAOS leve o moderado:
    div
      .container
        .c6.tac.pname: h4 REMSTAR CPAP y Automático
        .c6: ng-swipebox(photos="[{href: '/app/img/gal17.jpg', src: '/app/img/gal17.jpg', title:'REMSTAR CPAP y Automático'}]").producto
      .container
        .c5.o1.g
          p Sistema con tecnología Dry Box que evita la condensación en el circuito y mascarilla a demás de la tecnología C-Flex y A-Flex para mayor confort en la respiración.
          ul
            ul
              li Maleta para guardar o trasladar 
              li Manguera corrugada 
        .c5.o1.g: ul
            li Adaptador AC/DC
            li Presión bilinivel (BiPAP)
.container
  .c12.cm10.om1.tac: h3 Mascarillas
  .c10.o1: slick(slides-to-show="3").mascarillas
    div
      h4(title="Mascarilla Nasal").tooltip Airfit P10 resmed
      ng-swipebox(photos="[{href: '/app/img/gal8.jpg', src: '/app/img/gal8.jpg', title:'Airfit P10 resmed'}]").producto
    div
      h4(title="Mascarilla Nasal").tooltip Swift FX Bella resmed
      ng-swipebox(photos="[{href: '/app/img/gal18.jpg', src: '/app/img/gal18.jpg', title:'Swift FX Bella resmed'}]").producto
    div
      h4(title="Mascarilla Nasal").tooltip Nuance Pro
      ng-swipebox(photos="[{href: '/app/img/gal19.jpg', src: '/app/img/gal19.jpg', title:'Nuance Pro'}]").producto
    div
      h4(title="Mascarilla Nasal").tooltip Wisp
      ng-swipebox(photos="[{href: '/app/img/gal14.jpg', src: '/app/img/gal14.jpg', title:'Wisp'}]").producto
    div
      h4(title="Mascarilla Nasal").tooltip AirFit F10
      ng-swipebox(photos="[{href: '/app/img/gal7.jpg', src: '/app/img/gal7.jpg', title:'AirFit F10'}]").producto
    div
      h4(title="Mascarilla Nasal").tooltip Comfort Gel Blue
      ng-swipebox(photos="[{href: '/app/img/gal20.jpg', src: '/app/img/gal20.jpg', title:'Comfort Gel Blue'}]").producto
    div
      h4(title="Mascarilla Nasal").tooltip TrueBlue
      ng-swipebox(photos="[{href: '/app/img/gal21.jpg', src: '/app/img/gal21.jpg', title:'TrueBlue'}]").producto
    div
      h4(title="Mascarilla Oronasal").tooltip Quattro Air
      ng-swipebox(photos="[{href: '/app/img/gal11.jpg', src: '/app/img/gal11.jpg', title:'Quattro Air'}]").producto
    div
      h4(title="Mascarilla Oronasal").tooltip Quattro Fx
      ng-swipebox(photos="[{href: '/app/img/gal22.jpg', src: '/app/img/gal22.jpg', title:'Quattro Fx'}]").producto      
    div
      h4(title="Mascarilla Oronasal").tooltip Mirage Quattro
      ng-swipebox(photos="[{href: '/app/img/gal9.jpg', src: '/app/img/gal9.jpg', title:'Mirage Quattro'}]").producto    
    div
      h4(title="Mascarilla Oronasal").tooltip Amara
      ng-swipebox(photos="[{href: '/app/img/gal23.jpg', src: '/app/img/gal23.jpg', title:'Amara'}]").producto       
    div
      h4(title="Mascarilla Oronasal").tooltip Fit Life
      ng-swipebox(photos="[{href: '/app/img/gal3.jpg', src: '/app/img/gal3.jpg', title:'Fit Life'}]").producto
      
