.c12.cm10.om1
  h2 Servicios
.c10.o1.g
  slick(as-nav-for=".serviciosInfo", slides-to-show="2", focus-on-select="true", draggable="false").serviciosList
    div Laboratorio del sueño
    div Clínica de CPAP
    //
      div Transtornos del sueño
      div Tratamiento de ronquido y apnea
      div Insomnio
      div Narcolepsia
      div Parasomnias
.c10.o1.g.mt
  slick(slides-to-show="1", as-nav-for=".serviciosList", focus-on-select="true", draggable="false").serviciosInfo
    div
      .container
        .c6.cm10.om1.g
          p Este laboratorio se encuentra equipado con las comodidades necesarias para  alojar a un paciente durante una noche y someterlo a una evaluación durante el sueño mediante la Polisomnografía el cual es un  procedimiento no invasivo para el paciente, éste es evaluado durante 8 horas de registro mientras duerme, en él se conoce la actividad bioeléctrica cerebral que permite determinar las etapas de sueño, y una serie de datos cómo: electrocardiograma, (actividad cardiaca), respiración nasal y abdominal, electromiograma (movimiento de piernas y tono muscular), registro de ronquidos y saturación de oxógeno.  En su conjunto resultan fundamentales para evaluar el estado de la persona  y determinar un diagnóstico de mayor confianza mediante los datos clínicos con el propósito de mejorar la salud y calidad de vida del paciente.
        .c6.cm10.om1.g
          p La polisomnografía permite el diagnóstico  preciso de trastornos durante el sueño como: ronquido, apnea obstructiva del sueño,  insomnio, narcolepsia, parasomnias, trastornos de movimiento durante el sueño, bruxismo y muchos otros.
          p.light Gracias a estos registros  es posible evaluar la calidad del sueño y su eficiencia.
          ul
            li Polisomnografía
            li Polisomnografía y titulación con CPAP (noche dividida)
            li Polisomnografía ambulatoria
            li Polisomnografía con montaje 10-20
            li Polisomnografía en neonatos con registro de 3 horas
            li Poligrafía respiratoria (estudio simplificado de sueño)
            li Oximetría nocturna (registro de 8 horas)
            li Estudio de latencias múltiples
            li Electroencefalograma
            li Video-Elecroencefalograma

    div
      .container
        .c6.cm10.om1.g
          p: strong ¿Qué es una clínica de CPAP?
          p Por sus siglas en inglés, CPAP, Presión Positiva Continua de Aire, es un método estándar de tratamiento para el Síndrome de Apnea Obstructiva del Sueño (SAOS), Síndrome de Hipoventilación Pulmonar, Ronquido, entre otros.
          p.light En una Clínica de CPAP se lleva a cabo la titulación y selección del equipo y mascarilla adecuados como apoyo respiratorio nocturno requerido por pacientes que presentan algún trastorno respiratorio en el dormir.
        .c6.cm10.om1.g
          p: strong ¿Cómo funciona una clínica CPAP?
          p Posterior al diagnóstico de un trastorno respiratorio del sueño, el paciente, acude a la clínica CPAP en donde el médico especialista, selecciona el tratamiento a seguir mediante una titulación de equipo CPAP, que permitirá determinar el correcto nivel de presión de aire que requiere el paciente y que será solucionado con los equipos y mascarillas adecuados.

    
