.c12.cm10.om1

  h3 ¿Padezco algún transtorno respiratorio del sueño?
  
  .container.banner.fluid(ng-if="testDone").mt2.mb2
    .c10.o1 
      //| {{resultado.imc}}
      //br
      | {{resultado.apnea}}
    
  
  form(ng-hide="testDone") 
    wizard(on-finish="finishTest()")   
      wz-step(wz-title="IMC")
        .container
          .c.cm12.g
            label.simple Peso (kg)
            rzslider(rz-slider-model="test.peso", rz-slider-options="test.options")
          .c.cm12.g
            label.simple Altura (cm)
            rzslider(rz-slider-model="test.altura", rz-slider-options="test.options")
          .c.cm12.g
            label.simple Índice de Masa Corporal
            rzslider(rz-slider-model="test.imc", rz-slider-options="test.optionsb" )
        .container.end.mt2
          .c.cm10: input(type="submit", wz-next, value="Continuar").button.button-primary.button-pill
      
      wz-step(wz-title="Edad")
        .container
          .c6.o3.g.cm12
            label.simple ¿Cuál es su edad?
            rzslider(rz-slider-model="test.edad", rz-slider-options="test.optionsAge" )
        .container.end.mt2
          .c.cm10: input(type="submit", wz-next, value="Continuar").button.button-primary.button-pill
      
      wz-step(wz-title="", canexit="val1")
        .container
          .c6.g.cm12.question: +question('¿Ronca fuertemente? (tan alto que se pued escuchar a través de puertas cerradas)', 'test.v1', ['No', 'Sí'])
          .c6.g.cm12.question: +question('¿A menudo se siente cansado, fatigado o con sueño durante el día?', 'test.v2', ['No', 'Sí'])
        .container.end.mt2
          .c4: input(type="submit", wz-next, value="Continuar").button.button-primary.button-pill
      
      wz-step(wz-title="", canexit="val2")
        .container
          .c6.g.cm12.question: +question('¿Ha observado alguien si usted deja de respirar durante el sueño?', 'test.v3', ['No', 'Sí'])
          .c6.g.cm12.question: +question('¿Está o ha estado recibiendo tratamiento para la presión arterial alta?', 'test.v4', ['No', 'Sí'])
        .container.end.mt2
          .c4: input(type="submit", wz-next, value="Continuar").button.button-primary.button-pill
      
      wz-step(wz-title="", canexit="val3")
        .container
          .c6.g.cm12.question: +question('La circunferencia de su cuello es mayor a 40 cms?', 'test.v5', ['No', 'Sí'])
          .c6.g.cm12.question: +question('Su género es:', 'test.v6', ['Femenino', 'Masculino'])
        .container.end.mt2
          .c4: input(type="submit", wz-next, value="Terminar").button.button-primary.button-pill
      
    
