.c12.cm10.om1
  h2 Transtornos del sueño
.c6.cm10.om1.g
  .container.bannerFix#bannerC
    .c: h2 Ronquido y Apena del Sueño
  p Durante muchos años se pensó que roncar era normal, incluso, mucha gente sigue pensando que es sinónimo de dormir bien ó de estar profundamente dormidos; sin embargo, en la actualidad sabemos que es todo lo contrario.
  p.light El ronquido de una persona es un indicador de que el aire está pasando con dificultad. Mientras más fuerte sea el fenómeno, mayor dificultad respiratoria existe.
  p Un indicador de que el problema ha evolucionado es el tiempo que dura la persona roncando, además de su intensidad. Al principio puede ser sólo un ronquido leve que paulatinamente aumenta en intensidad ó frecuencia.
  p.light Si se deja avanzar el problema, podemos desarrollar una patología conocida como: Síndrome de Apnea Obstructiva del Sueño (SAOS). Apnea, significa dejar de respirar; Obstructiva, por que se obstruye el paso del aire; y del Sueño, por que sólo pasa cuando la persona está dormida.
  
.c6.cm10.om1.g.sintomas
  p: strong Síntomas de la Apnea de Sueño
  ul
    li Tardarse poco en quedarse dormido
    li Ronquidos
    li Sequedad de boca
    li Dolor de cabeza por la mañana
    li Cansancio
    li Sueño durante el día
    li Necesidad de tomar siestas
    li Pesadillas
    li Orinar frecuentemente por la noche
    li Disminución de deseo sexual
    li Dificultad para bajar de peso
    li Falta de atención
    li Pérdida de memoria
    li Dificultad para controlar la presión arterial alta
  p.invitamos.light.tac Lo invitamos a realizarse una
    a(href="#test", du-smooth-scroll).button.button-pill.button-small.button-primary Autoevaluación de sueño

.container.mt2.mb2.moreinfo
  .c.cm10.om1: slick(slides-to-show="1")
    div
      h3 Narcolepsia
      .container
        .c.cm12.g
          p La narcolepsia es un trastorno del sueño que causa somnolencia excesiva y ataques de sueño incontrolables y frecuentes durante el día, por lo general a horas inapropiadas estos periodos de somnolencia extrema se dan cada 3 o 4 horas, este impulso de dormir es irrefrenable y le incapacita, obligándole por lo general a dormir un corto espacio de tiempo para poder continuar con las actividades diarias.
          p.light Más de la mitad de los individuos con narcolepsia puede experimentar una pérdida del tono muscular y debilidad repentinas (cataplejia) desencadenada por una emoción súbita, así como parálisis del sueño, en la cual momentáneamente hay incapacidad para moverse o hablar al despertarse.
        .c.cm10.om1.g
          p La narcolepsia tienen un componente genético y un desencadenante que hace que el sistema inmunológico actué en la destrucción de la hipocretina. La manifestación de la enfermedad empieza durante el segundo o tercer decenio de la vida.
          p.light Se estima que alrededor de 0.05% a 0.20% de la población sufre narcolepsia, pero el padecimiento a menudo no se diagnostica.
        .c2.g.nom: .imginfo: img(src="app/img/info_narcolepsia.jpg", alt="Narcolepsia")
    div
      h3 Tratamiento de ronquido y apnea de sueño
      .container
        .c.cm12.g
          p La valoración por un especialista en medicina de sueño es fundamental para brindarle las alternativas dependiendo de las características y de la severidad del padecimiento, así como de los resultados que nos brinde su estudio de sueño.
        .c.cm10.om1.g
          p.light El tratamiento del ronquido y Apnea de Sueño puede ir desde medidas de higiene de sueño o cambios en los hábitos de sueño, hasta el uso de dispositivos que envían presión a la vía aérea superior (CPAP-binivel) ; algunos otros casos  seleccionados se les podrá ofrecer cirugía.
        .c2.g.nom: .imginfo: img(src="app/img/info_tratamiento.jpg", alt="Tratamiento de ronquido y apnea de sueño")

    div
      h3 Insomnio
      .container
        .c.cm12.g
          p El insomnio es el trastorno del sueño más común, caracterizado por la dificultad para iniciar, mantener o continuar el sueño; lo que nos da la sensación de tener un “sueño no reparador”.
          p.light Las causas más frecuentes de insomnio es el estrés, ansiedad y depresión, incluso lo pueden causar medicamentos para dormir.
        .c.cm12.g
          p Es muy importante determinar la causa o condiciones específicas de cada paciente que ocasionan que el insomnio se mantenga, para poder brindarle un adecuado tratamiento  dependiendo de sus necesidades.
        .c2.g.nom: .imginfo: img(src="app/img/info_insomnio.jpg", alt="Insomnio")

  
    div
      h3 Parasomnias
      .container
        .c.cm12.g
          p Son una categoría de trastornos del sueño que implican movimientos anormales y antinaturales, comportamientos, emociones, percepciones y sueños que se producen mientras se queda dormido,durante las fases del sueño, o durante la privación del sueño. La mayoría de parasomnias son estados del sueño disociados que presentan despertares parciales durante la transición entre la vigilia y el sueño NREM o la vigilia y el sueño MOR. El síntoma de presentación suele estar relacionado con la conducta en sí misma. Son más frecuentes en niños, aunque pueden persistir hasta la edad adulta, en la que tienen un mayor significado patológico.
        .c.cm12.g
          p.light Dentro de las parasomnias más comunes están:
          p Sonambulismo, Terrores nocturnos, Despertar confuso, Pesadillas, Enuresis.
          p.light Existen otras entidades clínicas que satisfacen los criterios de definición de una parasomnia en el sentido que aparecen selectivamente durante el sueño y causan un cierto grado de interrupción del mismo. Entre ellas se incluyen jactatio capitis nocturna (hábito de golpearse la cabeza durante el sueño), el hábito de hablar durante el sueño, las pesadillas y los calambres nocturnos de las piernas
        .c2.g.nom: .imginfo: img(src="app/img/info_parasomnias.jpg", alt="Parasomnias")
