include app/_config.jade

+html5
  +head('Dormir Bien', 'clinica, sueño, dormir', 'Clínica del Sueño en Cancún')
  
  body(ng-app="dw3")
    header(backstretch backstretch-images=" ['app/img/bg1.jpg', 'app/img/bg2.jpg'] ")#inicio
      .container
        .c3.ct6.cm10.om1.menu
          a(href="#inicio", title="Dormir Bien. Clínica del Sueño en Cancún").tooltip.logo: img(src="app/img/dormirbien.svg", alt="Dormir Bien")
          +menu
    section.banner.container.fluid
      .c10.o1 Somos un equipo multidisciplinario de especialistas dedicados a la práctica en la medicina del sueño.
    
    section#nosotros.container
      include _nosotros
    
    section#bannerA.bannerFix.container.fluid
      .c: h2 Debido a la naturaleza multidisciplinaria de la patología, se requiere de la cooperación y realización entre las diversas especialidades médicas.
    
    section#servicios.container.mt2
      include _servicios
    
    section#bannerB.bannerFix.container.fluid
      .c: h2 Venta de equipos CPAP

    section#productos.mb
      include _productos
                    
    section#transtornos.mt2.mb.container
      include _transtornos
    
    section#consejos.container.fluid.mt
      include _consejos
    
    section#test.bannerFix.container.fluid
      .c: h2 Test del sueño
    section#testForm.container.mt2.mb2(ng-controller="TestCtrl")
      include _test
  
    section#contacto.bannerFix.container.fluid
      .c: h2 Contacto
    section#contactoInfo.container.mb.mt
      .c6.cm12.g
        ui-gmap-google-map(center="{latitude:21.144671, longitude:-86.822484}" zoom="17")
          ui-gmap-marker(coords="{latitude:21.144671, longitude:-86.822484}", idkey="1", options="{labelContent:'Hospital Amerimed Cancún', labelClass:'markerLabel', labelAnchor:'100 100' }")
      .c6.cm10.om1.g
        h3 Hospital Amerimed Cancún
        h4 Consultorio 207
        p Av.  Tulum Sur 260 MZ 4,5,9 SM 7, CP 77500, Cancún Q.R.
        h3 Contáctanos
        p Llene el formulario siguiente y nos pondremos en contacto lo antes posible.
        form(ng-submit="quickForm", ng-controller="FormCtrl").contactus.container.fluid
          .c12.g: label
            input(type="text", placeholder="Nombre", ng-model="form.nombre")
          .c12.g: label
            input(type="email", placeholder="Correo electrónico", ng-model="form.correo")
          .c12.g: label
            input(type="text", placeholder="Teléfono", ng-model="form.telefono")
          .c12.g: label
            textarea(placeholder="Su mensaje", ng-model="form.mensaje")
          .c12.g.tac
            button(type="submit").button.button-pill.button-primary
              i.fa.fa-envelope
              span  Enviar mensaje
    footer
      .container
        .c3.ct12.cm12.tac
          a(href="#inicio", title="Dormir Bien. Clínica del Sueño en Cancún").tooltip.logo: img(src="app/img/dormirbien_blanco.svg", alt="Dormir Bien")
        .c8.ct12.cm12
          +menu
  
    +scripts
